$main-color: skyblue;

body {
  background-color: $main-color;
}

.puzzle-wrap {
  position: relative;
  width: 500px;
  padding-bottom: 500px;
  border: 10px solid #99bbef;
  background-color: #99bbef;
  box-sizing: border-box;
}
.box {
  width: calc(25% - 4px);
  height: calc(25% - 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  box-sizing: border-box;
}
.puzzle {
  background-color: #ef8899;
  color: white;
  text-shadow: 0 0 7px #992233;
  box-shadow: 1px 1px 3px #7a9ed3;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.blank {
  background-color: transparent;
}
.box[data-idx] {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}
.box[data-idx='0'] {
  transform: translate(0, 0)
}
.box[data-idx='1'] {
  transform: translate(calc(100% + 4px), 0)
}
.box[data-idx='2'] {
  transform: translate(calc(200% + 8px), 0)
}
.box[data-idx='3'] {
  transform: translate(calc(300% + 12px), 0)
}
.box[data-idx='4'] {
  transform: translate(0, calc(100% + 4px))
}
.box[data-idx='5'] {
  transform: translate(calc(100% + 4px), calc(100% + 4px))
}
.box[data-idx='6'] {
  transform: translate(calc(200% + 8px), calc(100% + 4px))
}
.box[data-idx='7'] {
  transform: translate(calc(300% + 12px), calc(100% + 4px))
}
.box[data-idx='8'] {
  transform: translate(0, calc(200% + 8px))
}
.box[data-idx='9'] {
  transform: translate(calc(100% + 4px), calc(200% + 8px))
}
.box[data-idx='10'] {
  transform: translate(calc(200% + 8px), calc(200% + 8px))
}
.box[data-idx='11'] {
  transform: translate(calc(300% + 12px), calc(200% + 8px))
}
.box[data-idx='12'] {
  transform: translate(0, calc(300% + 12px))
}
.box[data-idx='13'] {
  transform: translate(calc(100% + 4px), calc(300% + 12px))
}
.box[data-idx='14'] {
  transform: translate(calc(200% + 8px), calc(300% + 12px))
}
.box[data-idx='15'] {
  transform: translate(calc(300% + 12px), calc(300% + 12px))
}